* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #111111;
}

html {
  overflow-x: hidden;
}

.video-container {
  height: 290px;
  width: 100vw !important;
  overflow: hidden;
  position: relative;
  padding-top: 330px;
}

video {
  width: 100%;
  height: 326px;
}

.video-container video {
  position: absolute;
  top: 138%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: -293px;
  z-index: 99;
  width: 530px !important;
}

.bg-light {
  background-color: rgba(56, 83, 115, 0.2) !important;
  height: 50px;
  margin-bottom: 10px;
  width: 100vw;
}

.bg-light .logoimage {
  width: 58px;
  height: 47px;
  margin-top: -11px;
}

.bg-light .navbar-toggler {
  margin-top: -14px;
  border: 1px solid rgba(170, 189, 204, 0.1);
  margin-right: -7px;
}

.bg-light .navbar-nav {
  width: 100%;
  height: 35%;
  background: #AABDCC;
  position: fixed;
  color: black;
  z-index: 1;
  top: 50px;
  left: 0;
  font-size: -15px;
  padding-top: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
}

.bg-light .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

#laptopnav-links {
  width: 0;
  height: 0;
}

.nav-link-laptop {
  opacity: 0;
}

.hero-section {
  width: 100%;
  height: 290px;
  background: transparent;
  position: absolute;
  z-index: 100;
}

.hero-section .toursim-title {
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px black;
  font-weight: 600;
  margin-bottom: -2px;
  margin-top: 30px;
  margin-left: -4px;
}

.hero-section .newzealand-title {
  font-size: 25px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px black;
  font-weight: 600;
  margin-bottom: 2px;
}

.hero-section .sub-title {
  font-size: 13px;
  color: white;
  text-align: center;
  margin-bottom: 90px;
}

.hero-section .downarrow-box {
  font-size: 20px;
  color: white;
  width: 22px;
  height: 30px;
  margin: 0 auto -5px;
}

.hero-section .scrolldown-text {
  font-size: 8px;
  color: white;
  text-align: center;
}

.black-background-content-container {
  background: #111111;
  width: 100%;
  height: 520px;
}

.contentsection-title {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.behindboxforboxshadow {
  width: 290px;
  height: 320px;
  margin: 0 auto;
  border-radius: 20px;
  background: black;
  box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
}

.swiper {
  width: 290px;
  height: 320px;
}

.swiper .swiperslide-titles {
  font-size: 23px;
  text-align: left;
  color: white;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.swiper .title-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 5px;
}

.swiper .subtitle-container-slides {
  text-align: left;
  color: white;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.swiper .white-rounded-box {
  width: 275px;
  height: 130px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 31px auto 0;
}

.swiper .warning {
  color: white;
  font-size: 11px;
  margin-left: 10px;
  background: tomato;
  margin-top: -2px;
  position: absolute;
  width: 250px;
  text-align: center;
}

.swiper .days-selected {
  color: white;
  font-size: 11px;
  margin-left: 10px;
  background: #409C21;
  margin-top: -2px;
  position: absolute;
  width: 250px;
  text-align: center;
}

.swiper .bi-check2 {
  font-size: 11px;
  color: white;
}

.swiper label {
  display: inline-block;
  font-size: 15px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.swiper select {
  word-wrap: normal;
  margin-left: 10px;
  width: 250px;
  height: 25px;
  background: black;
  border: 1.5px solid white;
  color: white;
  font-size: 12px;
}

.daterange-title {
  display: inline-block;
  font-size: 15px;
  color: white;
  margin-left: 10px;
  margin-top: 22px;
  margin-bottom: -10px;
}

.dateinfocontainer {
  width: 100%;
  height: 55px;
}

input {
  word-wrap: normal;
  margin-left: 10px;
  width: 250px;
  height: 25px;
  background: black;
  border: 1.5px solid white;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

#go-button {
  width: 61px;
  height: 25px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 5px;
  background: #409C21;
  margin-left: 215px;
  margin-top: 23px;
}

.form-section {
  margin-bottom: -9px;
}

.swiper-slide {
  background-image: url("../img/oceanbackground.png");
  height: 320px;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #409C21;
}

.slideone-title {
  font-size: 23px;
  text-align: center;
  color: white;
  font-weight: 600;
  padding-top: 20px;
  text-shadow: 0 0 5px #424242;
  margin-bottom: 5px;
}

.nzmap-image {
  width: 142px;
  height: 178px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.getstarted-button {
  width: 153px;
  height: 34px;
  border-radius: 5px;
  border: 1.5px solid white;
  background: #409C21;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 16px;
}

.slide-two {
  background: black;
}

.bi-calendar4-week {
  color: #409C21;
  font-size: 20px;
  margin-top: 11px;
}

.daterangepicker {
  border: 2px solid #409C21;
}

.daterangepicker td.active {
  background-color: green;
  border-color: transparent;
  color: #fff;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  background: green;
  border: 1px solid black;
  margin-bottom: 2px;
  color: white;
}

.popupmessage {
  background: green;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  text-align: center;
  height: 25px;
  padding-top: 2px;
}

.slide-three {
  background: black;
}

.bi-people {
  color: #409C21;
  font-size: 20px;
  margin-top: 11px;
}

#slide3-whitebox {
  width: 275px;
  height: 170px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 9px auto 0;
  padding-top: 12px;
}

#find-button {
  width: 61px;
  height: 25px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 5px;
  background: #409C21;
  margin-left: 215px;
  margin-top: 8px;
}

.slide-four {
  background: black;
}

.bi-geo-alt-fill {
  color: #409C21;
  font-size: 20px;
  margin-top: 11px;
}

.button {
  color: #fff;
  background-color: #555;
  padding: 5px;
  margin-top: 1.5em;
  position: absolute;
  right: 3.5em;
  top: 1em;
  border-radius: 0.5em;
  border-bottom: 2px #222 solid;
  cursor: pointer;
  width: 68px;
}

#map {
  position: absolute;
  top: -218px;
  left: 10px;
  border-radius: 20px;
  border: 3px solid #409C21;
}

#map-container {
  position: relative;
}

.marker {
  background-image: url("../img/greenmarker.png");
  width: 51px;
  height: 45px;
  background-size: cover;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-popup-content {
  width: 120px;
  height: 192px;
  border-radius: 5px;
  background: black;
  border: 3px solid black;
}

.mapboxgl-popup-close-button {
  color: black;
  font-size: 27px;
  margin-top: -5px;
  margin-right: 2px;
}

h1 {
  font-size: 13px;
  color: green;
  font-weight: 600;
  margin-left: 110px;
  margin-top: -105px;
}

.locationpopupdescription {
  color: black;
  font-size: 11px;
  width: 113px;
  height: 35px;
  margin-left: -9px;
  text-align: center;
  margin-top: -11px;
  margin-bottom: 31px;
}

.locationpopuptitle {
  height: 20px;
  text-align: center;
  margin-top: -4px;
  margin-left: -9px;
  width: 113px;
}

.accomprice {
  color: black;
  font-size: 16px;
  background: white;
  width: 108px;
  border-radius: 5px;
  height: 27px;
  margin-top: -31px;
  margin-left: -6px;
  background: green;
  border: 2px solid black;
  text-align: center;
}

.bookbutton {
  color: green;
  font-size: 14px;
  background: black;
  width: 58px;
  padding: 2px 7px;
  border: 2px solid green;
  border-radius: 5px;
  height: 27px;
  margin-top: -12px;
  margin-left: 20px;
  font-weight: 600;
}

.popupimage {
  border-radius: 10px;
  width: 108px;
  height: 58px;
  margin-left: -7px;
  border: 2px solid white;
  margin-top: -6px;
}

.buttoncontainer-slide4 {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 236px;
}

#back-button {
  visibility: hidden;
}

#search-results {
  color: white;
  font-size: 10px;
  margin-left: -29px;
  margin-top: -232px;
  border-radius: 10px;
  padding: 2px 8px;
  border: 2px solid white;
  width: 264px;
  text-align: center;
  font-weight: 600;
  height: 40px;
}

.slide-five {
  background: black;
}

.bi-basket2-fill {
  color: #409C21;
  font-size: 20px;
  margin-top: 11px;
}

#selected-accommodation-title {
  color: white;
  margin-left: 8px;
  margin-bottom: -15px;
  margin-top: -3px;
  border: 2px solid white;
  border-radius: 7px;
  width: 274px;
  font-size: 13px;
  text-align: center;
}

.whiteoutlinebox {
  width: 275px;
  height: 200px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 20px auto -8px;
}

.foodoptiontitle {
  font-size: 15px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.foodoptionbox {
  margin-left: 10px;
  width: 250px;
  height: 25px;
  background: black;
  border: 1.5px solid white;
  color: white;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 2px;
}

#back-button-two {
  width: 61px;
  height: 25px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 5px;
  background: #409C21;
  margin-left: 10px;
  margin-top: 15px;
}

#book-button {
  width: 61px;
  height: 25px;
  font-size: 14px;
  color: white;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 5px;
  background: #409C21;
  margin-left: 218px;
  margin-top: -25px;
}

#bookingconfirmed-modal {
  margin-top: -403px;
  background-image: url("../img/kiwifruitbackground.jpeg");
  width: 290px;
  height: 320px;
  position: absolute;
  z-index: 99;
  margin-left: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}

#bookingconfirmed-modal.active {
  opacity: 1;
  visibility: visible;
}

.bi-x-circle {
  font-size: 25px;
  color: #409C21;
  top: 3px;
  right: 10px;
  position: absolute;
}

.modal-title {
  font-size: 23px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  font-weight: 600;
  text-shadow: 0 1px 2px white;
}

.bi-check-square {
  font-size: 100px;
  color: black;
  margin-left: 95px;
}

.lightgreen-rectangle {
  width: 210px;
  height: 90px;
  margin: 0 auto;
  background: rgba(217, 235, 124, 0.9);
  border-radius: 5px;
  border: 1px solid black;
  margin-top: -15px;
}

#bookingconfirmedtext {
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 10px;
  width: 207px;
  height: 87px;
}

#holiday-total-dates {
  width: 210px;
  height: 19px;
  background: #409C21;
  border-radius: 4px;
  border: 1px solid black;
  margin: 8px auto 0;
  text-align: center;
  font-size: 10px;
}

#bookingdenied-modal {
  margin-top: -403px;
  background-image: url("../img/bookingdenied.png");
  width: 290px;
  height: 320px;
  position: absolute;
  z-index: 99;
  margin-left: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}

#bookingdenied-modal.active {
  opacity: 1;
  visibility: visible;
}

.bi-x-circle {
  font-size: 25px;
  color: #409C21;
  top: 3px;
  right: 10px;
  position: absolute;
}

.bi-x-circle:hover {
  cursor: pointer;
  color: green;
}

.bookingdeniedmodal-title {
  font-size: 23px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  font-weight: 600;
  text-shadow: 0 1px 2px white;
}

.bi-exclamation-square {
  font-size: 100px;
  color: black;
  margin-left: 95px;
}

.lightred-rectangle {
  width: 270px;
  height: 100px;
  margin-top: -30px;
  margin: 0 auto;
  background: rgba(238, 84, 67, 0.9);
  border-radius: 5px;
  border: 1px solid black;
}

#bookingdeniedtext {
  font-size: 12px;
  padding-left: 0px;
  width: 270px;
  height: 100px;
  padding-top: 12px;
  color: black;
  text-align: center;
}

#footer-container {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid #111111;
  margin-top: 10px;
}

#footer-container .footer-text {
  color: #111111;
  text-align: center;
  padding-top: 6px;
}

@media only screen and (min-width: 375px) {
  .hero-section {
    width: 375px;
  }
  .bg-light {
    width: 100vw;
  }
  .video-container {
    height: 290px;
    width: 100vw !important;
    position: relative;
    padding-top: 330px;
  }
  #bookingconfirmed-modal,
  #bookingdenied-modal {
    margin-left: 45px;
  }
}

@media only screen and (min-width: 425px) {
  .hero-section {
    width: 425px;
  }
  .bg-light {
    width: 100vw !important;
  }
  .video-container {
    height: 290px;
    width: 100vw !important;
    position: relative;
    padding-top: 330px;
  }
  #bookingconfirmed-modal,
  #bookingdenied-modal {
    margin-left: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .video-container {
    height: 450px;
    width: 100vw !important;
    overflow: hidden;
    position: relative;
    padding-top: 500px;
  }
  video {
    width: 100%;
    height: 500px;
  }
  .video-container video {
    position: absolute;
    top: 131%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -430px;
    z-index: 99;
    width: 768px !important;
  }
  .bg-light {
    background-color: rgba(56, 83, 115, 0.2) !important;
    height: 85px;
    margin-bottom: 10px;
    width: 768px !important;
  }
  .bg-light .logoimage {
    width: 85px;
    height: 70px;
    margin-top: -6px;
    margin-left: 10px;
  }
  .bg-light .navbar-toggler {
    margin-top: -14px;
    border: 1px solid rgba(170, 189, 204, 0.1);
    margin-right: -7px;
  }
  .bg-light .navbar-toggler-icon {
    width: 2.5em;
    height: 1.5em;
  }
  .bg-light .navbar-nav {
    width: 760px;
    height: 235px;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 5px;
    background: #AABDCC;
    padding-top: 15px;
    margin-top: 4px;
    border: 2px solid black;
    margin-left: -8px;
  }
  .bg-light .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
  #laptopnav-links {
    width: 0;
    height: 0;
  }
  .nav-link-laptop {
    opacity: 0;
  }
  .hero-section {
    width: 100%;
    height: 450px;
    background: transparent;
    position: absolute;
    z-index: 100;
  }
  .toursim-title {
    font-size: 70px !important;
  }
  .newzealand-title {
    font-size: 35px !important;
  }
  .sub-title {
    font-size: 18px !important;
    margin-bottom: 130px !important;
  }
  .downarrow-box {
    font-size: 25px !important;
    margin-bottom: 8px !important;
  }
  .scrolldown-text {
    font-size: 10px !important;
    margin-top: 8px !important;
  }
  .black-background-content-container {
    height: 800px;
  }
  .contentsection-title {
    font-size: 30px;
    padding-top: 45px;
    margin-bottom: 50px;
  }
  .behindboxforboxshadow {
    width: 480px;
    height: 560px;
  }
  .swiper {
    width: 480px;
    height: 560px;
  }
  .swiper .swiperslide-titles {
    font-size: 35px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .swiper .subtitle-container-slides {
    font-size: 22px;
    margin-left: 27px;
    margin-top: 45px;
  }
  .swiper .white-rounded-box {
    width: 400px;
    height: 330px;
  }
  .swiper label {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .swiper select {
    margin-left: 20px;
    width: 353px;
    height: 35px;
    font-size: 18px;
    margin-top: 5px;
  }
  .daterange-title {
    font-size: 24px;
    color: white;
    margin-left: 22px;
    margin-top: 40px;
  }
  input {
    margin-left: 20px;
    width: 353px;
    height: 35px;
  }
  #go-button {
    width: 80px;
    height: 40px;
    font-size: 25px;
    border: 2.5px solid white;
    margin-left: 330px;
    margin-top: -55px;
  }
  .slideone-title {
    font-size: 35px;
    padding-top: 40px;
  }
  .nzmap-image {
    width: 230px;
    height: 290px;
  }
  .getstarted-button {
    width: 195px;
    height: 37px;
    font-size: 20px;
    padding-top: 2px;
    margin-top: 15px;
  }
  .bi-calendar4-week {
    color: #409C21;
    font-size: 30px;
    margin-top: 23px;
  }
  .popupmessage {
    width: 353px;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 17px;
    height: 33px;
    padding-top: 2px;
  }
  .bi-people {
    color: #409C21;
    font-size: 30px;
    margin-top: 23px;
  }
  #slide3-whitebox {
    width: 400px;
    height: 330px;
    padding-top: 15px;
    margin-top: 25px;
  }
  #find-button {
    width: 80px;
    height: 40px;
    font-size: 25px;
    border: 2.5px solid white;
    margin-left: 330px;
    margin-top: -55px;
  }
  .bi-geo-alt-fill {
    color: #409C21;
    font-size: 30px;
    margin-top: 23px;
  }
  .button {
    color: #fff;
    background-color: #555;
    padding: 4px;
    margin-top: 5em;
    position: absolute;
    right: 23em;
    top: 1em;
    border-radius: 0.5em;
    border-bottom: 2px #222 solid;
    cursor: pointer;
    width: 66px;
    height: 31px;
  }
  .mapboxgl-map {
    width: 420px !important;
    height: 400px !important;
    margin-left: 18px;
    margin-top: 50px;
  }
  .marker {
    width: 88px;
    height: 75px;
  }
  a.mapboxgl-ctrl-logo {
    display: none;
  }
  .mapboxgl-popup-content {
    width: 145px;
    height: 230px;
  }
  .mapboxgl-popup-close-button {
    color: black;
    font-size: 34px;
    margin-top: -5px;
    margin-right: 2px;
  }
  h1 {
    font-size: 17px;
  }
  .locationpopupdescription {
    font-size: 16px;
    width: 128px;
    height: 35px;
    margin-left: -4px;
    margin-top: -11px;
    margin-bottom: 31px;
  }
  .locationpopuptitle {
    height: 39px;
    margin-top: -4px;
    margin-left: -5px;
    width: 130px;
  }
  .accomprice {
    font-size: 18px;
    width: 60px;
    height: 27px;
    margin-top: -12px;
    margin-left: -4px;
  }
  .bookbutton {
    color: green;
    font-size: 18px;
    width: 65px;
    padding: 1px 5px;
    height: 27px;
    margin-top: -43px;
    margin-left: 59px;
  }
  .popupimage {
    width: 133px;
    height: 70px;
    margin-top: 2px;
  }
  #search-results {
    color: white;
    font-size: 15px;
    margin-left: -14px;
    margin-top: -204px;
    width: 420px;
    height: 56px;
  }
  .bi-basket2-fill {
    color: #409C21;
    font-size: 30px;
    margin-top: 23px;
  }
  #selected-accommodation-title {
    margin: 50px auto 0;
    width: 355px;
    font-size: 18px;
  }
  .whiteoutlinebox {
    width: 400px;
    height: 365px;
    margin: 30px auto -8px;
  }
  .foodoptiontitle {
    font-size: 24px;
    margin-left: 24px;
    margin-top: 28px;
  }
  .foodoptionbox {
    margin-left: 20px;
    width: 353px;
    height: 35px;
    font-size: 18px;
  }
  #back-button-two {
    width: 65px;
    height: 29px;
    font-size: 18px;
    border: 2px solid white;
    margin-left: 60px;
    margin-top: -45px;
  }
  #book-button {
    width: 65px;
    height: 29px;
    font-size: 18px;
    border: 2px solid white;
    margin-left: 350px;
    margin-top: -29px;
  }
  #bookingconfirmed-modal {
    margin-top: -633px;
    background-image: url("../img/kiwifruitbackground.jpeg");
    width: 480px;
    height: 560px;
    margin-left: 144px;
  }
  #bookingconfirmed-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 35px;
  }
  .modal-title {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: -5px;
  }
  .bi-check-square {
    font-size: 155px;
    margin-left: 165px;
  }
  .lightgreen-rectangle {
    width: 250px;
    height: 120px;
  }
  #bookingconfirmedtext {
    font-size: 20px;
    padding-left: 10px;
    width: 247px;
    height: 117px;
    padding-top: 12px;
  }
  #holiday-total-dates {
    width: 250px;
    height: 30px;
    margin: 25px auto 0;
    font-size: 12px;
    padding-top: 5px;
  }
  #bookingdenied-modal {
    margin-top: -633px;
    background-image: url("../img/bookingdenied.png");
    width: 480px;
    height: 560px;
    margin-left: 144px;
    position: absolute;
    z-index: 99;
    border-radius: 20px;
    box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    background-size: cover;
    opacity: 0;
    visibility: hidden;
  }
  #bookingdenied-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 25px;
    color: black;
    top: 3px;
    right: 10px;
    position: absolute;
  }
  .bi-x-circle:hover {
    cursor: pointer;
    color: green;
  }
  .bookingdeniedmodal-title {
    color: black;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 1px 2px white;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: -5px;
  }
  .bi-exclamation-square {
    font-size: 155px;
    margin-left: 165px;
    color: black;
  }
  .lightred-rectangle {
    width: 390px;
    height: 185px;
    margin-top: -30px;
    margin: 0 auto;
    background: rgba(238, 84, 67, 0.9);
    border-radius: 5px;
    border: 1px solid black;
  }
  #bookingdeniedtext {
    font-size: 19px;
    padding-left: 0px;
    width: 389px;
    height: 200px;
    padding-top: 12px;
    color: black;
    text-align: center;
  }
  #footer-container {
    height: 50px;
  }
  .footer-text {
    font-size: 25px;
    padding-top: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .video-container {
    height: 800px;
    width: 100vw !important;
    overflow: hidden;
    position: relative;
    padding-top: 500px;
  }
  video {
    width: 100%;
    height: 950px;
  }
  .video-container video {
    position: absolute;
    top: 131%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -650px;
    z-index: 99;
    width: 1480px !important;
  }
  .bg-light {
    height: 95px;
    width: 1444px !important;
  }
  .bg-light .logoimage {
    width: 110px;
    height: 83px;
    margin-top: 0;
  }
  .bg-light .navbar-toggler {
    margin-top: -14px;
    border: 1px solid rgba(170, 189, 204, 0.1);
    margin-right: -7px;
  }
  .bg-light .navbar-toggler-icon {
    width: 2.5em;
    height: 1.5em;
  }
  .bg-light .navbar-nav {
    display: none;
  }
  .bg-light .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
  #laptopnav-links {
    position: absolute;
    width: 600px;
    height: 58px;
    top: 19px;
    right: -350px;
    visibility: visible;
    z-index: 100;
    padding-top: 5px;
  }
  .nav-link-laptop {
    font-size: 35px;
    text-decoration: none;
    color: black;
    opacity: 100%;
    margin-left: 65px;
  }
  .hero-section {
    width: 1440px;
    background: transparent;
    position: absolute;
    z-index: 100;
  }
  .toursim-title {
    font-size: 120px !important;
    text-shadow: 0 2px 2px black !important;
    margin-top: 50px !important;
  }
  .newzealand-title {
    font-size: 55px !important;
    text-shadow: 0 2px 2px black !important;
    margin-bottom: 15px !important;
  }
  .sub-title {
    font-size: 30px !important;
    margin-bottom: 280px !important;
  }
  .downarrow-box {
    font-size: 25px !important;
    margin-bottom: 8px !important;
  }
  .scrolldown-text {
    font-size: 15px !important;
    margin-top: 8px !important;
  }
  .bi-arrow-down {
    font-size: 40px !important;
    margin-left: 0px;
  }
  .downarrow-box {
    margin-bottom: 30px !important;
    margin-left: 703px !important;
  }
  .bi-arrow-down:hover {
    cursor: pointer;
    color: green;
  }
  .black-background-content-container {
    width: 1444px;
    height: 950px;
  }
  .contentsection-title {
    font-size: 50px;
    padding-top: 45px;
    margin-bottom: 70px;
  }
  .behindboxforboxshadow {
    width: 1100px;
    height: 630px;
    margin: 0 auto;
  }
  .swiper {
    width: 1100px;
    height: 630px;
    margin: 0 auto;
  }
  .swiper .slide-five,
  .swiper .slide-four,
  .swiper .slide-three,
  .swiper .slide-two {
    background: black;
  }
  .swiper .swiperslide-titles {
    font-size: 65px;
    margin-left: 65px;
  }
  .swiper .slide-content {
    background-image: url("../img/swiperbackgroundlaptop.png");
    height: 630px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #409C21;
  }
  .swiper .subtitle-container-slides {
    font-size: 35px;
    margin-left: 68px;
    margin-top: 76px;
  }
  .swiper .white-rounded-box {
    width: 960px;
    height: 310px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 31px auto 0;
  }
  .swiper label {
    font-size: 35px;
    margin-left: 55px;
    margin-top: 5px;
  }
  .swiper select {
    margin-left: 55px;
    width: 830px;
    height: 45px;
    font-size: 26px;
    margin-top: 5px;
  }
  .swiper .daterange-title {
    font-size: 35px;
    color: white;
    margin-top: 65px;
    margin-bottom: 5px;
    margin-left: 55px;
  }
  .swiper input {
    margin-left: 57px;
    width: 830px;
    height: 45px;
    font-size: 26px;
  }
  .swiper #go-button {
    width: 85px;
    height: 55px;
    font-size: 35px;
    border: 2.5px solid white;
    margin-left: 910px;
    margin-top: -73px;
  }
  .swiper #go-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  .daterangepicker {
    border: 4px solid #409C21;
    width: 560px;
    height: 295px;
    padding: 5px;
  }
  .daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 16px;
    margin-top: -5px;
  }
  .daterangepicker .calendar-table td {
    line-height: 28px;
    font-size: 20px;
  }
  .daterangepicker th.month {
    width: 255px;
  }
  .slideone-title {
    font-size: 65px;
    padding-top: 32px;
  }
  .nzmap-image {
    width: 350px;
    height: 400px;
  }
  .getstarted-button {
    margin-left: 840px;
    margin-top: -70px;
    font-size: 25px;
    width: 234px;
    height: 45px;
  }
  .getstarted-button:hover {
    cursor: pointer;
    background: white;
    color: green;
    border-radius: 1px solid green;
  }
  .bi-calendar4-week {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  .popupmessage {
    width: 830px;
    margin-left: 57px;
    margin-top: 3px;
    font-size: 25px;
    height: 42px;
    padding-top: 1px;
  }
  .bi-people {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  #slide3-whitebox {
    width: 960px;
    height: 335px;
    padding-top: 24px;
    margin-top: 15px;
  }
  #find-button {
    width: 105px;
    height: 55px;
    font-size: 35px;
    border: 2.5px solid white;
    margin-left: 900px;
    margin-top: -75px;
  }
  #find-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  .bi-geo-alt-fill {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  .button {
    color: #fff !important;
    background-color: #555 !important;
    padding: 1em !important;
    margin-top: 3em !important;
    position: absolute !important;
    right: 2em !important;
    top: 1em !important;
    border-radius: 0.5em !important;
    border-bottom: 2px #222 solid !important;
    cursor: pointer !important;
    width: 90px !important;
    height: 53px !important;
  }
  .mapboxgl-map {
    width: 1050px !important;
    height: 400px !important;
    margin-left: 14px;
    margin-top: 110px;
  }
  .marker {
    width: 88px;
    height: 75px;
  }
  a.mapboxgl-ctrl-logo {
    display: none;
  }
  .mapboxgl-popup-content {
    width: 145px;
    height: 230px;
  }
  .mapboxgl-popup-close-button {
    color: black;
    font-size: 34px;
    margin-top: -5px;
    margin-right: 2px;
  }
  h1 {
    font-size: 17px;
  }
  .locationpopupdescription {
    font-size: 16px;
    width: 128px;
    height: 35px;
    margin-left: -4px;
    margin-top: -11px;
    margin-bottom: 31px;
  }
  .locationpopuptitle {
    height: 39px;
    margin-top: -4px;
    margin-left: -5px;
    width: 130px;
  }
  .accomprice {
    font-size: 18px;
    width: 60px;
    height: 27px;
    margin-top: -12px;
    margin-left: -4px;
  }
  .bookbutton {
    color: green;
    font-size: 18px;
    width: 65px;
    padding: 1px 5px;
    height: 27px;
    margin-top: -43px;
    margin-left: 59px;
  }
  .bookbutton:hover {
    cursor: pointer;
    background-color: white;
  }
  .popupimage {
    width: 133px;
    height: 70px;
    margin-top: 2px;
  }
  #search-results {
    color: white;
    font-size: 18px;
    margin-left: 227px;
    margin-top: -160px;
    width: 580px;
    height: 62px;
  }
  .bi-basket2-fill {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  #selected-accommodation-title {
    margin: 80px auto 0;
    width: 520px;
    font-size: 23px;
    height: 40px;
  }
  .whiteoutlinebox {
    width: 960px;
    height: 400px;
    margin-top: 25px;
  }
  .foodoptiontitle {
    font-size: 32px;
    margin-left: 55px;
    margin-top: 12px;
  }
  .foodoptionbox {
    margin-left: 55px;
    width: 840px;
    height: 40px;
    font-size: 25px;
    padding-top: 0;
  }
  #back-button-two {
    width: 110px;
    height: 45px;
    font-size: 30px;
    border: 2px solid white;
    margin-left: 90px;
    margin-top: -72px;
  }
  #back-button-two:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  #book-button {
    width: 110px;
    height: 45px;
    font-size: 30px;
    border: 2px solid white;
    margin-left: 897px;
    margin-top: -45px;
  }
  #book-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  #bookingconfirmed-modal {
    margin-top: -730px;
    background-image: url("../img/kiwifruitbackground.jpeg");
    width: 1240px;
    height: 670px;
    margin-left: 114px;
  }
  #bookingconfirmed-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 60px;
    right: 25px;
    color: black;
  }
  .bi-x-circle:hover {
    cursor: pointer;
    color: green;
  }
  .modal-title {
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: -30px;
  }
  .bi-check-square {
    font-size: 190px;
    margin-left: 535px;
  }
  .lightgreen-rectangle {
    width: 520px;
    height: 180px;
    margin-top: -30px;
  }
  #bookingconfirmedtext {
    font-size: 34px;
    padding-left: 10px;
    width: 520px;
    height: 177px;
    padding-top: 12px;
  }
  #holiday-total-dates {
    width: 520px;
    height: 50px;
    margin: 25px auto 0;
    font-size: 26px;
    padding-top: 5px;
  }
  #bookingdenied-modal {
    margin-top: -730px;
    background-image: url("../img/bookingdenied.png");
    width: 1240px;
    height: 670px;
    margin-left: 114px;
    position: absolute;
    z-index: 99;
    border-radius: 20px;
    box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    background-size: cover;
    opacity: 0;
    visibility: hidden;
  }
  #bookingdenied-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 60px;
    right: 25px;
    color: black;
  }
  .bi-x-circle:hover {
    cursor: pointer;
    color: green;
  }
  .bookingdeniedmodal-title {
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: -30px;
    color: black;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 1px 2px white;
  }
  .bi-exclamation-square {
    font-size: 190px;
    margin-left: 535px;
  }
  .lightred-rectangle {
    width: 800px;
    height: 230px;
    margin-top: -30px;
    margin: 0 auto;
    background: rgba(238, 84, 67, 0.9);
    border-radius: 5px;
    border: 1px solid black;
  }
  #bookingdeniedtext {
    font-size: 34px;
    padding-left: 10px;
    width: 800px;
    height: 230px;
    padding-top: 12px;
    color: black;
    text-align: center;
  }
  #footer-container {
    height: 70px;
    width: 1444px;
  }
  .footer-text {
    font-size: 40px;
    padding-top: 13px;
  }
}

@media only screen and (min-width: 1440px) {
  .video-container {
    height: 800px;
    width: 100vw !important;
    overflow: hidden;
    position: relative;
    padding-top: 500px;
  }
  video {
    width: 100%;
    height: 950px;
  }
  .video-container video {
    position: absolute;
    top: 131%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -650px;
    z-index: 99;
    width: 1480px !important;
  }
  .bg-light {
    height: 95px;
    width: 1440px;
  }
  .bg-light .logoimage {
    width: 110px;
    height: 83px;
    margin-top: 0;
  }
  .bg-light .navbar-toggler {
    margin-top: -14px;
    border: 1px solid rgba(170, 189, 204, 0.1);
    margin-right: -7px;
  }
  .bg-light .navbar-toggler-icon {
    width: 2.5em;
    height: 1.5em;
  }
  .bg-light .navbar-nav {
    display: none;
  }
  .bg-light .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
  #laptopnav-links {
    position: absolute;
    width: 640px;
    height: 58px;
    top: 19px;
    right: 0;
    visibility: visible;
    z-index: 100;
    padding-top: 5px;
  }
  .nav-link-laptop {
    font-size: 30px;
    text-decoration: none;
    color: black;
    opacity: 100%;
    margin-left: 75px;
  }
  .hero-section {
    width: 1440px;
    height: 800px;
    background: transparent;
    position: absolute;
    z-index: 100;
  }
  .toursim-title {
    font-size: 120px !important;
    text-shadow: 0 2px 2px black !important;
    margin-top: 50px !important;
  }
  .newzealand-title {
    font-size: 55px !important;
    text-shadow: 0 2px 2px black !important;
    margin-bottom: 15px !important;
  }
  .sub-title {
    font-size: 30px !important;
    margin-bottom: 280px !important;
  }
  .downarrow-box {
    font-size: 25px !important;
    margin-bottom: 8px !important;
  }
  .scrolldown-text {
    font-size: 15px !important;
    margin-top: 8px !important;
  }
  .bi-arrow-down {
    font-size: 40px !important;
    margin-left: 0px;
  }
  .downarrow-box {
    margin-bottom: 30px !important;
    margin-left: 703px !important;
  }
  .bi-arrow-down:hover {
    cursor: pointer;
    color: green;
  }
  .black-background-content-container {
    height: 945px;
  }
  .contentsection-title {
    font-size: 50px;
    padding-top: 45px;
    margin-bottom: 70px;
  }
  .behindboxforboxshadow {
    width: 1100px;
    height: 630px;
    margin: 0 auto;
  }
  .swiper {
    width: 1100px;
    height: 630px;
    margin: 0 auto;
  }
  .swiper .slide-five,
  .swiper .slide-four,
  .swiper .slide-three,
  .swiper .slide-two {
    background: black;
  }
  .swiper .swiperslide-titles {
    font-size: 65px;
    margin-left: 65px;
  }
  .swiper .slide-content {
    background-image: url("../img/swiperbackgroundlaptop.png");
    height: 630px;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #409C21;
  }
  .swiper .subtitle-container-slides {
    font-size: 35px;
    margin-left: 68px;
    margin-top: 76px;
  }
  .swiper .white-rounded-box {
    width: 960px;
    height: 310px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 31px auto 0;
  }
  .swiper label {
    font-size: 35px;
    margin-left: 55px;
    margin-top: 5px;
  }
  .swiper select {
    margin-left: 55px;
    width: 830px;
    height: 45px;
    font-size: 26px;
    margin-top: 5px;
  }
  .swiper .daterange-title {
    font-size: 35px;
    color: white;
    margin-top: 65px;
    margin-bottom: 5px;
    margin-left: 55px;
  }
  .swiper input {
    margin-left: 57px;
    width: 830px;
    height: 45px;
    font-size: 26px;
  }
  .swiper #go-button {
    width: 85px;
    height: 55px;
    font-size: 35px;
    border: 2.5px solid white;
    margin-left: 910px;
    margin-top: -73px;
  }
  .swiper #go-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  .daterangepicker {
    border: 4px solid #409C21;
    width: 560px;
    height: 295px;
    padding: 5px;
  }
  .daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 16px;
    margin-top: -5px;
  }
  .daterangepicker .calendar-table td {
    line-height: 28px;
    font-size: 20px;
  }
  .daterangepicker th.month {
    width: 255px;
  }
  .slideone-title {
    font-size: 65px;
    padding-top: 32px;
  }
  .nzmap-image {
    width: 350px;
    height: 400px;
  }
  .getstarted-button {
    margin-left: 840px;
    margin-top: -70px;
    font-size: 25px;
    width: 234px;
    height: 45px;
  }
  .getstarted-button:hover {
    cursor: pointer;
    background: white;
    color: green;
    border-radius: 1px solid green;
  }
  .bi-calendar4-week {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  .popupmessage {
    width: 830px;
    margin-left: 57px;
    margin-top: 3px;
    font-size: 25px;
    height: 42px;
    padding-top: 1px;
  }
  .bi-people {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  #slide3-whitebox {
    width: 960px;
    height: 335px;
    padding-top: 24px;
    margin-top: 15px;
  }
  #find-button {
    width: 105px;
    height: 55px;
    font-size: 35px;
    border: 2.5px solid white;
    margin-left: 900px;
    margin-top: -75px;
  }
  #find-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  .bi-geo-alt-fill {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  .button {
    color: #fff !important;
    background-color: #555 !important;
    padding: 1em !important;
    margin-top: 3em !important;
    position: absolute !important;
    right: 2em !important;
    top: 1em !important;
    border-radius: 0.5em !important;
    border-bottom: 2px #222 solid !important;
    cursor: pointer !important;
    width: 90px !important;
    height: 53px !important;
  }
  .mapboxgl-map {
    width: 1050px !important;
    height: 400px !important;
    margin-left: 14px;
    margin-top: 110px;
  }
  .marker {
    width: 88px;
    height: 75px;
  }
  a.mapboxgl-ctrl-logo {
    display: none;
  }
  .mapboxgl-popup-content {
    width: 145px;
    height: 230px;
  }
  .mapboxgl-popup-close-button {
    color: black;
    font-size: 34px;
    margin-top: -5px;
    margin-right: 2px;
  }
  h1 {
    font-size: 17px;
  }
  .locationpopupdescription {
    font-size: 16px;
    width: 128px;
    height: 35px;
    margin-left: -4px;
    margin-top: -11px;
    margin-bottom: 31px;
  }
  .locationpopuptitle {
    height: 39px;
    margin-top: -4px;
    margin-left: -5px;
    width: 130px;
  }
  .accomprice {
    font-size: 18px;
    width: 60px;
    height: 27px;
    margin-top: -12px;
    margin-left: -4px;
  }
  .bookbutton {
    color: green;
    font-size: 18px;
    width: 65px;
    padding: 1px 5px;
    height: 27px;
    margin-top: -43px;
    margin-left: 59px;
  }
  .bookbutton:hover {
    cursor: pointer;
    background-color: white;
  }
  .popupimage {
    width: 133px;
    height: 70px;
    margin-top: 2px;
  }
  #search-results {
    color: white;
    font-size: 18px;
    margin-left: 227px;
    margin-top: -160px;
    width: 580px;
    height: 62px;
  }
  .bi-basket2-fill {
    color: #409C21;
    font-size: 45px;
    margin-top: 32px;
  }
  #selected-accommodation-title {
    margin: 80px auto 0;
    width: 520px;
    font-size: 23px;
    height: 40px;
  }
  .whiteoutlinebox {
    width: 960px;
    height: 400px;
    margin-top: 25px;
  }
  .foodoptiontitle {
    font-size: 32px;
    margin-left: 55px;
    margin-top: 12px;
  }
  .foodoptionbox {
    margin-left: 55px;
    width: 840px;
    height: 40px;
    font-size: 25px;
    padding-top: 0;
  }
  #back-button-two {
    width: 110px;
    height: 45px;
    font-size: 30px;
    border: 2px solid white;
    margin-left: 90px;
    margin-top: -72px;
  }
  #back-button-two:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  #book-button {
    width: 110px;
    height: 45px;
    font-size: 30px;
    border: 2px solid white;
    margin-left: 897px;
    margin-top: -45px;
  }
  #book-button:hover {
    background: white;
    color: green;
    border: 2.5px solid green;
    cursor: pointer;
  }
  #bookingconfirmed-modal {
    margin-top: -730px;
    background-image: url("../img/kiwifruitbackground.jpeg");
    width: 1240px;
    height: 670px;
    margin-left: 114px;
  }
  #bookingconfirmed-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 60px;
    right: 25px;
    color: black;
  }
  .bi-x-circle:hover {
    cursor: pointer;
    color: green;
  }
  .modal-title {
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: -30px;
  }
  .bi-check-square {
    font-size: 190px;
    margin-left: 535px;
  }
  .lightgreen-rectangle {
    width: 520px;
    height: 180px;
    margin-top: -30px;
  }
  #bookingconfirmedtext {
    font-size: 34px;
    padding-left: 10px;
    width: 520px;
    height: 177px;
    padding-top: 12px;
  }
  #holiday-total-dates {
    width: 520px;
    height: 50px;
    margin: 25px auto 0;
    font-size: 26px;
    padding-top: 5px;
  }
  #bookingdenied-modal {
    margin-top: -730px;
    background-image: url("../img/bookingdenied.png");
    width: 1240px;
    height: 670px;
    margin-left: 114px;
    position: absolute;
    z-index: 99;
    border-radius: 20px;
    box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -webkit-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    -moz-box-shadow: 0 1px 6px 5px rgba(64, 156, 33, 0.7);
    background-size: cover;
    opacity: 0;
    visibility: hidden;
  }
  #bookingdenied-modal.active {
    opacity: 1;
    visibility: visible;
  }
  .bi-x-circle {
    font-size: 60px;
    right: 25px;
    color: black;
  }
  .bi-x-circle:hover {
    cursor: pointer;
    color: green;
  }
  .bookingdeniedmodal-title {
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: -30px;
    color: black;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 1px 2px white;
  }
  .bi-exclamation-square {
    font-size: 190px;
    margin-left: 535px;
  }
  .lightred-rectangle {
    width: 800px;
    height: 230px;
    margin-top: -30px;
    margin: 0 auto;
    background: rgba(238, 84, 67, 0.9);
    border-radius: 5px;
    border: 1px solid black;
  }
  #bookingdeniedtext {
    font-size: 34px;
    padding-left: 10px;
    width: 800px;
    height: 230px;
    padding-top: 12px;
    color: black;
    text-align: center;
  }
  #footer-container {
    height: 70px;
  }
  .footer-text {
    font-size: 42px;
    padding-top: 13px;
  }
}
